#orderItem .items{
    width: 100%;
    background-color: white;
}
#orderItem{
    background-color: white;
}

#orderItem .items .itemList {
    background-color: inherit; 
    border-top: none;
    background-color: white;
}
#orderItem .item{
    padding: 0px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: white;
    border: 1px solid rgb(173, 172, 172);
}

#orderItem .itemValue{
    height: 60px;
    background-color: #e8e8e8;
    border-bottom: 1px solid rgb(173, 172, 172);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    display: flex;
    gap:20px;
}
#orderItem .itemValue span{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#orderItem .itemBody{
    padding: 5px 20px;
}
#orderItem .itemContent{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#orderItem .itemButtons{
    display: block;
    width: 25%;
}
#orderItem .itemName{
    width: fit-content;
}

#orderItem .trackButton{
    border-radius: 5px;
    background: #F4CE14;
    color: black;
    min-width: 100px;
}

#orderItem .viewButton{
    border-radius: 5px;
    border: 1px solid #BEAEAE;
    background: #EDEFEE;
    color: black;
    min-width: 100px;
}   
#orderItem .itemValue .value{
    font-weight: 300;
    color: rgb(29, 28, 28);
}