*{
  font-family: karla;
  margin:0;
}
.reservation{
    padding:40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color:#333333;
    background-color: #F4CE14;
    transition: all 0.2s ease-in-out;
  }
.reservation .res{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation-content{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 12px;
  align-content: center;
  gap: 20px;
}

.reservation h1{
  font-size: 64px;
  color:#495E57;
  font-family: Markazi Text, serif;
  margin-bottom: 25px;
  text-align: left;
}
.reservation .seating{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
.seating .seating_option input{
  cursor: pointer;
}
.reservation .seating label{
  padding:15px;
  color:#333333;
  font-family: karla;
  font-weight: 600;
  cursor: pointer;
  margin: 20px 0px;
}
.reservation .seating input{
  background-color: #F4CE14;
}

.images img{
  width: 30%;
  height: 100%;
  border-radius: 8px;
}
.image_center{
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.images{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 50%;
  height: 180px;
}
input[type="submit"] {
  margin: 30px auto ;
  line-height:14px;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 18px;
  border-radius: 16px;
  font-weight: 700;
  padding: 14px 18px;
  border: none;
  cursor: pointer;
  max-height:45px;
  background-color: #495E57;
  color:#EDEFEE;
  text-align: center;
}
.reserve_button:hover{
  background-color: #F4CE14;
  color: #495E57;
  transition: all 0.1s ease-in;
  box-shadow: 1px 2px 2px 1px rgb(192, 183, 183);
}
.reserve_button:focus{
  outline:none;
}
.reserve_button:active{
  box-shadow: none;
  background-color: #495E57;
  color:#EDEFEE;
}

.states{
  width: 340px;
}
.states_link{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: space-between;
  align-items: center;
  gap:20px;
  row-gap: 30px;
}
.states .seating_state{
  text-align: center;
  font-weight: 700;
  color: #333333;
  font-size: 20px;
}
.state{
  display: flex;
  cursor: pointer;
  color:#495E57;
}

.states .state.red{
  color: red;
}
.state span{
  margin: 0 30px;
  font-size: 16px;
  width: max-content;
}
.content{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.content .input{
  margin: 15px 0;
  width: 330px;
}
.content input{
  padding: 7px 15px;
  width: 100%;
  height:40px;
  font-size: 16px;
  color: black;
  border-radius: 8px;
  border:1px solid black;
}
.content input:focus{
  outline: none;
}
.content .phone{
  display: flex;
  align-items: center;
  width: 100%;
  height:40px;
  font-size: 16px;
  color: black;
  border-radius: 8px;
  border:1px solid black;
  box-sizing: content-box;
}
.phone .phone_country{
  height:40px;
  background-color: #EDEFEE;
  color: #495E57;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.phone select:focus{
  outline: none;
}
.phone .phone_country option{
  background-color: #EDEFEE;
  color: #495E57;
  cursor: pointer;
}
.phone .phone_country option:hover{
  background-color: #495E57;
  color: #EDEFEE;
}
.phone input{
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

textarea{
  padding: 10px 15px;
  width: 330px;
  height:110px;
  font-size: 16px;
  color: black;
  border-radius: 8px;
  border:1px;
  border:1px solid black;
}
textarea:focus{
  outline: none;
}
.reservation .res{
  width: auto;
}
#content1{
  display: flex;
  justify-content: space-evenly ;
  margin: 20px 0;
}
.reservation #content{
 display: grid;
 grid-template-areas: 
  "name name "
  "detail detail"
  "state comment";
}
#left.content{
  grid-area: name;
}
#right.content{
  grid-area: detail;
}
.states{
  grid-area: state;
}
.comment{
  grid-area: comment;
  margin: auto;
}
.state_label{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.invalid{
  color: red;
  width: 42px;
}

.seating_option{
  display: flex;
  justify-content: center;
}
.seating_option input{
  cursor: pointer;
}
.reservation .seating_option label{
  padding:15px;
  color:#333333;
  font-family: karla;
  font-weight: 600;
  cursor: pointer;
}

.seating_state.red{
  color: red;
}

#seating{
  margin: 15px 0px;
}

.popup{
  width: 40%;
  height: max-content;
  padding: 30px 80px;
  background-color: #EDEFEE;
  border-radius: 8px;
  margin: auto;
  color: #495E57;
  position: fixed;
  bottom:180px;
  left: 28%;
  transition: all 1s ease-in  ;
}
.popup p{
  font-size: 1.5rem;
}

button{
  cursor: pointer;
}

.content .border{
  border:4px solid red;
}

@media screen and (max-width: 770px){
  .reservation #content{
    display: grid;
    row-gap: 0;
    grid-template-areas: 
      "state"
      "name "
      "detail"
      "comment";
   }
   .states{
    width: 290px;
   }
   .states_link {
    gap: 8px;
    row-gap: 15px;
   }
   .content{
    gap:0;
   }
   .content .input{
    width: 270px;
   }
   textarea{
    width: 270px;
   }
   .seating_option{
    display: ;
   }
  .images img{
    width: 113px;
    height: 120px;
    border-radius: 8px;
  }
  
  .images{
    width: 100%;
    gap: 10px;
    margin: 20px;
  }
}