*{
  margin: 0;
  font-family: karla;
  box-sizing: border-box;
}

button{
  text-decoration: none;
  outline: none;
  background-color: none;
}

.container{
  display: flex;
  flex-wrap: wrap;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
nav{
  z-index: 1;
}
nav {
  padding: 10px 13%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
}
.navbar{
  position: fixed;
  width: 100%;
  top:0;
}

nav .nav-links li {
  display: inline-block;
  padding: 1em;
}

nav li span{
  color: #495E57;
  font-weight: 700;
  padding:3px;
  border-radius: 3px;
  cursor: pointer;
}
nav li span:hover{
  
  background-color: #495E57;
  color: #EDEFEE;
    
}
nav .nav-links li a,nav .nav-links li p{
  color: #495E57;
  font-weight: 700;
  padding:3px;
  border-radius: 3px;
  cursor: pointer;
}
nav .nav-links li .active{
  background-color: #495E57;
  color: #EDEFEE;
}
nav .nav-links li a:hover, nav .nav-links li p:hover{
  
  background-color: #495E57;
  color: #EDEFEE;
    
}
nav .nav-links li p{
  font-weight: 700;
  cursor: pointer;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  cursor: pointer;
}



.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar{
  position: fixed;
  top: 65px;
  right: 0;
  padding: 0;
  width: 100%;
  background-color: #333333EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding: 10px;
}
.sidebar li{
  width: 100%;
  text-align: center;
  padding: 7px;
  color: #EDEFEE;
  cursor: pointer;
}
.sidebar a{
  width: 100%;
}
.sidebar li:hover{
  
  background-color: #495E57;
  color: #EDEFEE;
    
}
.invisible{
  left:-200%;
  transition: all 0.5s ease;
}
.visible{
  left:0;
  transition: all 0.5s ease;
}

.navbar .nav-link-icon{
  display: flex;
  align-items: center;
}

.loginPopup{
  position: fixed;
  top:100px;
  left:40%;
  width: max-content;
  padding: 10px;
  border-radius: 16px;
  background-color: #EDEFEE;
  color: #333333;
  opacity: 0;
}
.loginPopup.visible{
  opacity: 1;
  transition: opacity 0.3s ease;
}
.cart{
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  width: 60px;
}
.cart-dot{
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #495E57;
  left:-53%;
  top:3px;
}
.cart-icon{
  height: 50px;
}
.cart-quantity{
  position: relative;
  left:-54%;
  top:3px;
  font-size: 16px;
  font-weight: 900;
  color: #495E57;
}

footer{
  background-color: #495E57;
  justify-content: space-evenly;
  padding: 40px 0;
  gap:10px;
}

footer h3{
  color: #F4CE14;
  font-size: 20px;
  font-family: karla;
}
footer .list{
  margin-top: 13px;
}

footer li a{
  text-decoration: none;
  color: #EDEFEE;
  margin-left:-37px;
  font-size: 16px;
}

footer img{
  width: 120px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #F4CE14;
  border-radius: 16px;
  font-weight: 700;
  padding: 14px 18px;
  border: none;
  cursor: pointer;
  max-height:45px;
}
.button:hover{
  background-color: #495E57;
  opacity: 80%;
  color: #EDEFEE;
  box-shadow: 1px 2px 2px 1px #333333;
  transition: all 0.2s ease-in;
}
h1{
  font-size: 64px;
  font-family: Markazi Text,serif;
}
h2{
  font-size: 40px;
  font-family: Markazi Text,serif;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 18px;
}
p{
  font-size: 16px;
}
h1, h2, h3 {
  font-family: Markazi Text,serif;
}
span{
  font-size: 16px;
  font-weight: 600;
}

.contain{
  background-color: #495E57;
}
.dummy{
  height: 50px;
}
.hero{
  padding:20px 0;
  display:grid; 
  grid-template-areas:
    "head head"
    "sub  main"
    "para  main"
    "button  main";
  height: 400px;
  justify-content: center;
  color:#EDEFEE;
  gap:0;
  grid-template-rows: 80px 60px 160px 70px;
  grid-template-columns: 40% 40%
}
.hero h1{
  grid-area: head;
}
.hero h2{
  grid-area: sub;
  height: fit-content;
}
.hero p{
  grid-area: para;
  width: 50%;
  margin:0;
  height: 10% ;
}
.hero button{
  grid-area: button;
}
.hero .img{
  grid-area: main;
  background-image: url("/public/assets/poster.jpeg");
  background-size: cover;
  background-position: center;
}

.hero .content .button{
  color:black;
  margin-top: 30px;
}
.hero h1{
  color: #F4CE14;
}
@media(min-width:860px){
  .hero {
    padding-left: 10%;
  }
  .hero .img{
    width: 360px;
    height: 405px;
    border-radius: 20px;
    position: relative;
  }
}

.highlights{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 130px 0px;
}
.highlights .container{
  justify-content: center;
  align-items: center;

}
.highlights .heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.cards{
  gap:20px;
  margin-top: 30px;
}
.cards .dish{
  width: 280px;
  height: 185px;
  border-radius: 20px 20px 0px 0px;
}
.card{
  cursor: pointer;
}
.highlights .card-content{
  gap:15px;
  height: 253px;
  width: 280px;
  background-color: #F2E8E879;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
}
.card-content h3{
  display: flex;
  margin-right:auto;
  align-items: center;
  color: #495E57;
}
.card-content h4{
  margin-top: auto;
  color:#EE9972;
}
.cards span{
  margin-top: auto;
  color:#EE9972;
  font-weight: 700;
}
.cards span:hover{
  text-decoration: underline;
  cursor: pointer;
}
.card-content img.icon{
  width: 17px;
  margin-top: 10px;
  margin-left:10px;
  color:black;
}


.testimonial{
  background-color: #495E57c2;
  padding:20px;
  padding-bottom: 40px;
}
.testimonial .rating{
  justify-content: center;
  gap:15px;
}
.testimonial .rating .icon.star{
  margin:1px;
  opacity: 80%;
}
.testimonial h2.container{
  align-items: center;
  justify-content: center;
  margin:20px;
}
.rating-box{
  width: 200px;
  height: 240px;
  border-radius: 16px;
  background: #EDEFEE;
  padding:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.rating-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.rating h4{
  text-align: center;
}
.rating-box p{
  text-align: center;
}
.rating-box .profile{
  width: 80px;
  border-radius: 50%;
}
.rating-box .icon{
  width:27px;
}
.about{
  justify-content: center;
  gap:50px;
  padding: 30px;
}
#about.about-content p{
  font-size: 16px;
}
#about.about-content h1,.about-content h2{
  color: #495E57;
}
#about p{
  margin-top: 40px;
  color: #EE9972;
  max-width:400px;
}
#about img{
  width:355px;
  height: 210px;
}
#about .img1{
  margin-top:109px;
}

#about .img2{
  margin-left:-170px;
}

.confirm span{
  color: blue;
  font-size: 64px;
}


.header h1,.header h2{
  margin-left:13%;
}
.header h1{
  color:#495E57;
  font-family: Markazi Text, serif;
}
.header h2{
  color:#EDEFEE;
}
/* for */
.disabled {
  opacity: 0.6;
  cursor:crosshair;
}
.input-field{
  color:grey;
  height: 40px;
  border-radius: 8px;
  border: none;
}
.confirm{
  height:1000px;
}

.dropdown-select p{
  padding:10px;
  color:#EDEFEE;
  font-family: karla;
  font-weight: 600;
}

.dropdown{
  width: 250px;
  font-size: 16px;
  
}

.dropdown-btn{
  padding:15px;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  background-color: #EDEFEE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 2px 1px 1px rgb(0,0,0,0.2);
  cursor: pointer;
  font-weight: 700;
  color: #495E57;
}
.selected{
  color: #EDEFEE;
  background-color: #495E57;
  transition: all 0.2s ease;
}


.arrow{
  width: 7px;
  height:7px;
  border-right: 2px solid #495E57;
  border-bottom: 2px solid #495E57;
  transition: 0.3s;
}
.arrow{
  width: 7px;
  height:7px;
  border-right: 2px solid #495E57;
  border-bottom: 2px solid #495E57;
  transition: 0.3s;
}
.up{
  rotate: -135deg;
  position: relative;
  top:5px;
}
.down{
  rotate: 45deg;
}
.select{
  border-color: #EDEFEE ;
}
.dropdown-content {
  margin: 5px 0px;
  z-index: 1;
  position: absolute;
  width: 250px;
}
.dropdown .grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dropdown-content.inactive {
  max-height: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.2s ease;
}
.dropdown-content.active {
  max-height: max-content;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.2s ease;
}


.dropdown-content .dropdown-item{
  padding: 10px;
  width: 100%;
  height: 45px;
  background-color: #EDEFEE;
  border-bottom: 1px dotted black;
  text-align: center;
  cursor: pointer;
  color: #495E57;
  font-weight: 700;
}

.dropdown-item:hover{
  background-color: #b5c0bb;
  transition: background-color 0.4s linear;
}
.dropdown-content#odd .dropdown-item:last-child{
  width: 200%;
}
.icon{
  margin-right: -13px;
  font-size: 22px;
}

.icon.invisible{
  display: none;
}

.placeholder{
  padding-left: 0;
}

.placeholder.selected{
  padding-left: 36%;
}
.placeholder.date-selected{
  padding-left: 5%;
  transition: padding-left 0.2s ease;
}
@media screen and (max-width:1225px) {
  #main{
    margin-top: 60px;
  }
  
}
@media screen and (max-width:980px) {
  #main{
    margin-top: 120px;
  }
  
}
@media (min-width: 770px) {
  .menu-icon {
    display: none;
    cursor: pointer;
  }
}



@media screen and (max-width: 860px){
  .hero .img{
    width:80%;
    min-width: 126px;
    max-height: 200px;
    margin:8%;
    border-radius:16px;
    max-width: 250px;
  }
  .hero p{
    width: 100%;
  }
  h1{
    font-size: 52px;
  }
  .highlights{
    margin: 40px 0;
  }
}

@media screen and (max-width: 770px){
  .menu-icon {
    display: block;
    cursor: pointer;
  }
 
  .nav-links {
    display: none;
  }
  .about img{
    display: none;
  }
  .navbar{
    background:#fff;
    padding: 10px 8%;
    transition: all 0.2 ease-in;
    justify-content: space-between;
  }

  nav ul li a{
    color: #EDEFEE;
  }
  nav ul li a:hover{
    background-color: #495E57;
  }
  nav ul li:hover{
    background-color: #495E57;
  }

  .bar{
    background: #333333;
  }
  #main{
    margin-top: 0;
  }
  
  .highlights .container {
    width: 100%;
  }
  .highlights h2{
    font-size: 32px;
  }
  .highlights .heading {
    width: 100%;
    justify-content: space-evenly;
    margin:0 5px;
  }
  .button{
    padding: 12px 8px;
    margin:0 5px;
    align-items: center;
    border-radius: 12px;
  }
  .cards{
    flex-direction: column;
    justify-content: center;
    gap:0;  
    border-top: 2px solid #33333325;
    border-bottom: 2px solid #33333325;
  }
  .cards .card{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding:0px 7px;
    justify-content: start;
    padding: 0;
    width: 100%;
    border-top: 2px solid #33333315;
  }
  .card .card-content{
    background-color: white;
    width: 100%;
    gap:5px;
    justify-content: center;
    padding: 0 15px;
    max-height: 120px;
  }
  .card .card-content p{
    max-height:43px;
    overflow: hidden;
  }
  
  .card .dish{
    min-width: 80px;
    min-height: 80px;
    width: 22%;
    height:100%;
    border-radius: 0;
    margin-right: 7px;
  }
  #order{
    justify-content: flex-start;
    margin: 0 ;
  }
  .rating-box{
    flex-direction: row;
    width: 100%;
    height: fit-content;
  }
  .rating-box .rating-content{
    max-width: 40%;
  }
  .rating-box .rating-content p{
    margin: 8px 0;  
  }
  .dropdown-select .heading{
    display: none;
  }
  .dropdown-btn .icon{
    display: none;
  }
  .navbar .logo{
    height: 45px;
  }
  .cart-icon{
    height: 40px;
  }
  .cart-dot{
    width: 7px;
    height: 7px;
    left:-43%;
    top:3px;
  }
  .cart-quantity{
    font-size: 14px;
    left:-45%;
  }
}

@media screen and (max-width: 400px){
  .highlights .heading p{
    font-size: 14px;
    padding: 8px 4px;
  }
  .navbar img.logo{
    height: 35px;
  }
  .cart-icon{
    height: 35px;
  }
  .cart-dot{
    left:-37%;
    width: 6px;
    height: 6px;
  }
  .cart-quantity{
    font-size: 13px;
    left:-40%;
  }
}